.loginDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 450px;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}



.input1{
  
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    margin-left: 20%;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.8);
    color: #c5ecfd;
    width: 60%;
    
  
  }
  .input2{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    margin-left: 20%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.8);
    color: #c5ecfd;
    width: 60%;
    
   
  }

  .ms{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

  .ms:-webkit-any(h1) {
    /* IE 10+ */
    color: #c5ecfd;
  }



  ::-webkit-input-placeholder .input1 {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
  }
  ::-moz-placeholder.input2{
    /* Firefox 19+ */
    color: #c5ecfd;
  }

  
.button{
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}


