

.login {

width: 27%;
height: 70%;
background-color: rgb(215, 224, 224);

display: grid;
grid-template-columns: 80%;

justify-content: center;
padding: 3%;
margin-left:34%;
border-radius: 5%;
opacity: 0.7;

}

/* .login input{
    height: 80%;
   
    border: none;
    margin: 10px;
    border-radius: 7px;
    box-shadow:2px 7px 7px 7px #aaaaaa;
} */
.login button{
    height: 50%;
    color: aliceblue;
    border: none;
    margin: 10%;
    background-color: rgb(0, 87, 145);
    transition: 0.7s ease;
    border-radius: 7px;
}

.login button:hover{
    transform: scale(110%);
  
    
}
.login input:hover{
    /* background-color: rgb(235, 235, 235); */
}
.input{
    height: 70%;
    background-color: rgb(252, 250, 250);
    border: none;
    margin: 10px;
    border-radius: 7px;
    box-shadow:2px 7px 7px 7px #aaaaaa;
    
   
}
