.product_main img {
  width: 100px;
  height: 100px;
  padding: 10px;
}
.main p {
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial;
}
.main h2 {
  font-family: Arial;
  font-size: 100%;
}

.product_main {
  width: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);

  margin: 40px;
  border-radius: 10px;
  transition: transform 0.8s;
}
.product_main:hover {
  transform: scale(1.05);
}

.pro_main {
  height: 360px;
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
}
.innfo {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
}

.innfo button {
  border: none;
  background-color: #0b724c;
  color: rgb(255, 255, 255);
  font-size: 90%;
  font-weight: 900;
  height: 53px;
  font-family: Arial;
  
}
.innfo p {
  border: none;
  font-size: larger;
  color: rgb(100, 100, 100);
  font-size: 90%;
  font-weight: 900;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 41%;
  margin-right: 41%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.buttons button {
  border: none;
  width: 6vh;
  height: 4vh;
  color: rgb(245, 245, 245);
  background-color: #0b724c;
  border-radius: 0.5vh;
}


