.image_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product_details img {
  width: 370px;
  height: 370px;
}
.information_cart {
  display: grid;
  grid-template-columns: 30% 30% auto;
  grid-template-rows: 30px 30px 30px;
}

.all_detals {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 50px 50px;
  margin-top: 80px;
}

.delete {
  display: flex;
  justify-content: right;
  margin-right: 20px;

  color: brown;
  font-size: xx-large;
  font-weight: 900;
}

.cart_container button {
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(79, 79, 129);
  color: rgb(255, 255, 255);
  font-size: larger;
}
.cart_container p {
  font-size: larger;
  font-weight: 700;
}

.navbar {
  background-color: rgb(25, 107, 173);
  /* background-color: rgb(2, 83, 83); */
  width: 100%;
  display: grid;
  grid-template-columns: 4% 30% 40% 7% 7% 7% 3%;
  grid-template-rows: 40px;
  grid-template-areas: "q  w e n r t yy";
  transition: transform 250ms;
  align-content: stretch;
  align-items: center;
  z-index: 100;
  /* margin-bottom: 50px; */
}
.All_Product_nav {
  grid-area: n;
  width: 90%;
margin-left: 20px;

}
.first_icon {
  grid-area: a;
  align-self: left;
  font-size: x-large;
  
}
.added{
height: 80px;
background-color: rgb(255, 255, 255);
}
.fa,
.fas {
  font-size: x-large;
  margin: auto;
  /* color: aliceblue; */
}

.logo_img {
  grid-area: w;
  height: 105px;
  margin: auto;
  /* border: solid; */
  margin-top: 3%;
  z-index: 102;
  /* margin-left:-10px; */
  margin-left: 160px;
}


.login_link {
  grid-area: r;
  margin-left: 30px;
}
.register_link {
  grid-area: t;
  width: 100%;
}
.cart {
  grid-area: yy;
  margin-bottom: 20px;
}

.fa-cart-plus:before {
  content: "\f217";
  color: rgb(255, 255, 255);
  /* margin: auto; */
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.fa-cart-plus {
  font-size: x-large;
  margin-top: 90%;
}

.logout {
  grid-area: t;
  font-weight: 900;
  margin: 0 -50%;
}

.navbar_section {
  width: max-content;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50px;

}
.navbar_section {
  width: 40vw;
}

.SERCHa{
  display: flex;
      border-bottom: 1px solid;
      border-left: 1px solid;
      border-right: 1px solid;
      padding: 5px;
      border-radius: 5px;
      justify-self: center;
      align-items: center;
      height: 3vh;
width: 70%;
    }
  

.navbar a {
  text-decoration: none;
  justify-items: center;
  justify-content: center;
  margin-right: 2vw;
  margin-top: 5%;
  font-weight: 900;
  color: azure;
}
.icon_bar {
  display: none;
  justify-self: start;
  width: 50px;
  font-size: xx-large;
}





.navbarsearch{
  display: flex;
  flex-direction: column;
 

  width: 100%;
  /* background-color: beige; */
}
.searchss {
  grid-area: e;
    /* display: flex; */
    width: 40vw;
    border-radius: 5px;
    border: none;
    /* height: 6vh; */
    color: black;
    /* margin: 50% 20%; */


}

.Serch_img {
  width: 30px;
    height: 30px;
    border-radius: 50%;

}
.Serch_title {
  /* margin: auto; */
  width: 100%;

}
.navbarsearch {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* background-color: red; */
  /* width: 100%; */
  /* background-color: beige; */
}


/* @media (max-width:600px)
{
  
  
  .icon_bar{
    display: block;
  }
  

  
  
  
  
  .navbar{
  margin-top: -20px;
  display: flex;
  position: absolute;
  margin-left: 0px;
  top: 60px;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  transition: 0.6s ease;
  padding: 5px;
  height: 200px;
  transition: transform 250ms;
  

}

.search{

  display: none;
  
}



} */

/* input {
    
  margin: 0 auto;
  float: none;
  width:100%;
  max-width: 300px;
  padding: 5px 10px;
  border: 2px solid black;
}
ul {
margin: 0;
padding: 0;
}
li {
  text-align: left;
  padding: 5px 10px;
  width: 100%;
  max-width: 280px;
  margin: 1px auto;
  background-color: white;
  border: 1px solid       black;
  

  list-style: none;
} */
