.sidebar_admin{
display: flex;
flex-direction: column;
height: 300px;
background-color: rgb(209, 208, 208);
position: absolute;
z-index: 101;
width: 15%;
}
.sidebar_admin a{
    text-decoration: none;
    padding: auto;
    text-align: left;
    color: rgb(110, 110, 110);
    margin-left: 20px;
    margin: 15px;
    font-size: 120%;
    font-weight: 900;
}