.image_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product_details img {
  width: 370px;
  height: 370px;
}
.information_cart {
  display: grid;
  grid-template-columns: 30% 30% auto;
  grid-template-rows: 30px 30px 30px;
}

.all_detals {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 50px 50px;
  margin-top: 80px;
}

.delete {
  display: flex;
  justify-content: right;
  margin-right: 20px;

  color: brown;
  font-size: xx-large;
  font-weight: 900;
}

.cart_container button {
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(79, 79, 129);
  color: rgb(255, 255, 255);
  font-size: larger;
}
.cart_container p {
  font-size: larger;
  font-weight: 700;
}

.filter_item {
  background-color: rgb(12, 95, 95);
  display: flex;
  flex-direction: row-reverse;
  align-content: stretch;
  justify-content: flex-end;
  /* margin-left: 10px; */
  padding-left: 30px;
  width: 200px;
}

.filter_item li {
  padding: 10px;
  /* font-size: larger; */
  font-weight: 900;
  color: azure;
}
.filter_item li:hover {
  color: rgb(214, 214, 214);
  cursor: pointer;
}

mark {
  background-color: rgb(12, 95, 95);
  color: rgb(214, 214, 214);
  font-size: larger;
}
