.only_product {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.only_product img {
  width: 400px;
  height: 400px;
}

.detals {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.detals p {
  font-size: larger;
  font-weight: 800;
}
.feedback_div {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  background-color: rgb(248, 248, 248);
  display: grid;
  border-radius: 25px;
  grid-template-columns: 1% 10% 12.5% 12.5% 12.5% 27.5% 12.5% 12.5%;
  grid-template-rows: 30px 30px 35px;
  grid-template-areas: "aaa aaa sss sss sss sss sss sss" "aaa aaa xxx xxx xxx xxx xxx xxx" "eee rrr rrr rrr rrr rrr uuu iii";
  box-shadow: 0px 5px 15px 7px rgb(151, 151, 151);
}
.imge_feedback {
  grid-area: aaa;
  margin-left: 10%;
  margin-top: 5%;
  height: 50px;
}

.firstName_feedback {
  justify-self: start;
  grid-area: sss;
}
.feedpact {
  justify-self: start;
  grid-area: xxx;
}
.input_update_feedback {
  grid-area: rrr;
  margin: 5px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 5px 15px 7px rgb(151, 151, 151);
  margin-bottom: 5px;
}
.button_update_feedback {
  grid-area: uuu;
  height: 29px;
  width: 50px;
  margin-top: 7px;
  /* //!========== */
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 35px;

  background: rgb(255, 255, 255);

  color: rgb(0, 0, 0);

  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0),
    1px 1px 15px 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
  -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
  transition: box-shadow 0.4s, text-shadow 0.5s;
}
.button_delete_feedback {
  grid-area: iii;
  height: 29px;
  width: 50px;
  margin-top: 7px;

  /* //!========== */
  margin: auto;

  border: none;
  border-radius: 35px;

  background: rgb(255, 255, 255);

  color: rgb(0, 0, 0);

  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0),
    1px 1px 15px 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
  -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
  transition: box-shadow 0.4s, text-shadow 0.5s;
}
.rr {
  grid-area: rrr;
}
.new_feedback {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  background-color: rgb(248, 248, 248);
  display: grid;
  border-radius: 25px;
  grid-template-columns: 15% 70% 10%;
  grid-template-rows: 70px;
  grid-template-areas: "l f g";
  box-shadow: 0px 5px 15px 7px rgb(151, 151, 151);
}
.button_addFeedback {
  grid-area: g;
  height: 40px;
  width: 100px;
  /* //!================ */
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 35px;

  background: rgb(255, 255, 255);

  color: rgb(0, 0, 0);

  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0),
    1px 1px 15px 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
  -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
  transition: box-shadow 0.4s, text-shadow 0.5s;
}

/* //! ============= */

.button_addFeedback:hover {
  cursor: pointer;

  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.15),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0),
    1px 1px 15px 2px rgba(154, 137, 164, 0.1);

  text-shadow: 3px -3px 5px rgba(143, 162, 199, 1),
    -3px 3px 5px rgba(192, 151, 178, 1);

  -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
  -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
  transition: box-shadow 0.4s, text-shadow 0.5s;
}

.imge_feedback2 {
  grid-area: l;
  margin-left: 10%;
  margin-top: 5%;
  height: 50px;
}
.input_addfeedback {
  grid-area: f;
  margin: 10px;
  margin-top: 17px;
  margin-left: -20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 5px 15px 7px rgb(228, 228, 228);
  margin-bottom: 5px;
  height: 50%;
}
.button_update_feedback:hover {
  
  cursor: pointer;

  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.15),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0),
    1px 1px 15px 2px rgba(154, 137, 164, 0.1);

  text-shadow: 3px -3px 5px rgba(143, 162, 199, 1),
    -3px 3px 5px rgba(192, 151, 178, 1);

  -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
  -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
  transition: box-shadow 0.4s, text-shadow 0.5s;
}
.button_delete_feedback:hover {
  cursor: pointer;

  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.15),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0),
    1px 1px 15px 2px rgba(154, 137, 164, 0.1);

  text-shadow: 3px -3px 5px rgba(143, 162, 199, 1),
    -3px 3px 5px rgba(192, 151, 178, 1);

  -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
  -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
  transition: box-shadow 0.4s, text-shadow 0.5s;
}


.see{
  margin: 20px;
  border: none;
  font-size: larger;
  background-color: rgb(230, 230, 230);
  font-style: oblique;
}
.see:hover{
  color: rgb(255, 67, 208);
  
}