.all_brand {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  align-items: stretch;
}

.imgAndName{
  padding: 2vh;

}

.branddiv {
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: 85% 10%;
  width: 20vh;
  height: 15vw;
  justify-items: center;
  background-color: rgb(240, 240, 240);
  margin: 10px;
  border: 1px solid ;
  border-color: rgba(0, 0, 0, 0.158);
  border-radius: 1vh;
  transition: transform 1s; 

}

.all_brand :hover {
  /* background-color: rgba(230, 225, 225, 0.945); */
  transform: scale(1.05);
}

.img_brand {
  width: 15vh;
  border-radius: 5vh;
  display: block;
  overflow: hidden;
  transition: transform .4s;



  
}

.name_brand {
  width: 100%;
  height: 4vh;
  font-size: 2.25vh;
}




.contenar_category_brands{
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: 85% 10%;
  width: 20vh;
  height: 15vw;
  justify-items: center;
  background-color: rgb(240, 240, 240);
  margin: 10px;
  border: 1px solid ;
  border-color: rgba(0, 0, 0, 0.158);
  border-radius: 1vh;
  transition: transform 1s; 

}

.img_category_brands{
  width: 15vh;
  border-radius: 5vh;
  display: block;
  overflow: hidden;
  transition: transform .4s;
}

.p_category_brands{
  width: 100%;
  height: 4vh;
  font-size: 2.25vh;
}

.contenar_namecategoryand_bands{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20vh;

}

.img_brand_brands{
  width: 6vh;
  align-items: flex-end;
  margin-right: 3vh;
}

