.all_brand {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: stretch;



}
.imgAndName{
  padding: 2vh;

}

.branddiv {
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: 85% 10%;
  width: 20vh;
  height: 10vw;
  justify-items: center;
  background-color: rgb(240, 240, 240);
  margin: 10px;
  border: 1px solid var(--deep_gray);
  border-radius: 1vh;
  transition: transform 1s; 

}

.all_brand :hover {
  background-color: rgba(230, 225, 225, 0.945);
  transform: scale(1.05);
}

.img_brand {
  width: 15vh;
  border-radius: 5vh;
  display: block;
  overflow: hidden;
  transition: transform .4s;



  
}

.name_brand {
  width: 100%;
  height: 4vh;
  font-size: 2.75vh;
}








