.all_brand{
    display: flex;
    flex-direction: row;
}

.branddiv{
    width: 300px;
    height: 300px;
    display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70% 30%;
/* grid-template-areas: "aa" "bb" ; */

justify-items: center;
background-color: rgba(126, 126, 126, 0.2);
margin: 15px;
box-shadow: 1px 5px 5px 5px rgba(120, 75, 75, 0.8);
}
.all_brand :hover  {background-color: rgb(230, 230, 230,0.8);}



.img_brand{
    width: 90%;
    margin-top: 10px;
   border-radius: 100%;
}

.name_brand{

    color: rgba(19, 193, 206, 0.932);
    justify-items: center;
    align-items: center;
    font-size: x-large;
   
   
    

}