
.popup {
    position: absolute;
bottom: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: (0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    margin: auto auto;
  }
  .popup-inner {
    height: 18vh;
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #d6d9d9d1;
    border-radius: 5px;
  }
  .popup-inner .close-btn {
    position: absolute;
    bottom: 0vh;
    right: 53.35vh;
    margin: auto;
    width: 50%;
    background-color: #00ff0a;
    /* display: flex; */
    /* flex-direction: row; */
    height: 5vh;
    color: white;
    font-size: x-large;
    cursor: pointer;
    text-transform: uppercase
    
  }
  
  .popup-inner .close-btn2 {
    position: absolute;
    bottom: 0vh;
    right: 0vh;
    margin: auto;
    width: 51%;
    background-color: #ff0000;
    /* display: flex; */
    /* flex-direction: row; */
    height: 5vh;
    font-size: x-large;
    color: white;
    cursor: pointer;
    text-transform: uppercase
  }
  .popup-inner h1 {
    margin-bottom: 20px;

  }
  